/*dark background to support form theme*/
body{
  background:url("../img/abs6.jpg");
}

/*sass variables used*/
/*$full:100%;
$auto:0 auto;
$align:center;

@mixin disable{
  outline:none;
  border:none;
}

@mixin easeme{
  -webkit-transition:1s ease;
  -moz-transition:1s ease;
  -o-transition:1s ease;
  -ms-transition:1s ease;
  transition:1s ease;
}*/

/*site container*/
.wrapper{
  min-width:195px;
  max-width:420px;
  margin:0 auto;
}

h1{
  text-align:center;
  padding:30px 0px 0px 0px;
  font:30px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  margin:0px;
  margin-bottom:20px;
}

p{
  font:16px Open Sans;
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
  margin-bottom:30px;
  text-align:justify;
}

.message-part {
	margin-bottom: 5px;
}

.form{
  width:95%;
  padding-left: 5px;
}

.user-info{
	width: 100%;
	min-height: 50px;
	margin-right: 10px;	
	background-color: #ADB0B1;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
	color:#000000;
	vertical-align: middle;
}

textarea{
  width: 100%;
  resize: none;
  padding:15px 0px 15px 8px;
  border-radius:5px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(206, 204, 204, 0.2);
  outline:none;
  border:none;
  border:1px solid rgba(0,0,0,1);
  margin-bottom:10px;
  margin-right:10px;
  color: #D1C5C5;
  text-shadow:#000 0px 1px 5px;
  font-size: 18px;
}
.submit {
	margin-bottom:none;
}

input[type="submit"]{
  width:100%;
  padding:15px;
  border-radius:5px;
  outline:none;
  border:none;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:14px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.7;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

input:focus{
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.3);
  -webkit-transition:1s ease;
  -moz-transition:1s ease;
  -o-transition:1s ease;
  -ms-transition:1s ease;
  transition:1s ease;
}

input[type="submit"]:hover{
  opacity:1;
  cursor:pointer;
}

.name-help,.email-help{
  display:none;
  padding:0px;
  margin:0px 0px 15px 0px;
}

.optimize{
  position:fixed;
  right:3%;
  top:0px;
}

textarea, .emoji-wysiwyg-editor {
	width: 100%;
	min-height: 100px;
	resize: none;
	padding:15px 0px 15px 8px;
	border-radius:5px;
	box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
	background:rgba(206, 204, 204, 0.2);
	outline:none;
	border:none;
	border:1px solid rgba(0,0,0,1);
	margin-bottom:10px;
	margin-right:10px;
	color: #D1C5C5;
	text-shadow:#000 0px 1px 5px;
	font-size: 18px;
}

.emoji-button {
	//margin-left: 186px;
	/*background-color: black;
	font-size: large;*/
	width:100%;
	padding:6px;
	border-radius:5px;
	outline:none;
	border:none;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
	background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
	background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
	font:12px Oswald;
	color:#FFF;
	text-transform:uppercase;
	text-shadow:#000 0px 1px 5px;
	border:1px solid #000;
	opacity:1;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
	border-top:1px solid rgba(255,255,255,0.8)!important;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

.emoji-button:active {
    opacity:1;
    cursor:pointer;
}

.ms {
	margin-top: 75px;
}